* {
  /* only so I can see divs */
  /* border: 1px solid red; */
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 2.5vmin;
}

.title {
  font-size: 5vmin;
}

h1 {
  display: inline-block;

  padding: 1vmin 2vmin;
  margin: 1vmin 1vmin;
  font-size: 3vmin;
  background-color: rgb(17, 17, 51);

  /* border-radius: 3vmin; */
  /* background-color:orange; */
  /* background-color: rgb(17, 17, 51); */
  color: white;
  margin-bottom: 3vmin;
  text-decoration: none;
  font-weight: normal;
}

.text_light {
  text-decoration: none;
  color:rgb(149, 149, 167);
  font-size: 2vmin;
}

div {
  cursor: default;
}

.button {
  display: inline-block;

  padding: 1vmin 2vmin;
  margin: 1vmin 1vmin;
  font-size: 3vmin;
  border-radius: 3vmin;
  opacity: 0.726;
  background-color: rgb(17, 17, 51);
  color: white;

  text-decoration: none;
}

.button:hover {
  opacity: 1;
}

.button:active {
  transform: translateY(0.2vmin);
}

li {
  margin-bottom: 2vmin;
  line-height: 3.5vmin;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.green {
  background-color: red;
}