* {
  /* only so I can see divs */
  /* border: 1px solid red; */
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 3vmin;
}

.title {
  font-size: 5vmin;
}

.text_light {
  text-decoration: none;
  color:rgb(149, 149, 167);
  font-size: 2vmin;
}

div {
  cursor: default;
}

.button {
  display: inline-block;

  padding: 1vmin 2vmin;
  margin: 1vmin 1vmin;
  font-size: 3vmin;
  border-radius: 3vmin;

  background-color: rgba(17, 17, 51, 0.726);
  color: white;

  text-decoration: none;
}

.button:hover {
  background-color: rgba(17, 17, 51, 1);
}

.button:active {
  transform: translateY(0.2vmin);
}

.app {
  display: inline-block;
}
