@font-face {
  font-family: 'Montserrat';
  src: url('./../../assets/fonts/Montserrat-Light.ttf');
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 2.5vmin;
}

.title {
  font-size: 5vmin;
}

h2 {
  display: block;

  padding: 1vmin 2vmin;

  font-size: 3vmin;

  background-color: orange;
  color: white;

  margin-bottom: 3vmin;
  text-decoration: none;
  font-weight: normal;
}

h1 {
  display: block;

  padding: 1vmin 2vmin;

  font-size: 3vmin;
  font-weight: 700;

  background-color: none;
  color: rgb(17, 17, 51);

  margin-bottom: 3vmin;
  text-decoration: none;
}

.text_light {
  text-decoration: none;
  color:rgb(149, 149, 167);
  font-size: 2vmin;
}

div {
  cursor: default;
}

.button {
  display: inline-block;

  padding: 1vmin 2vmin;
  margin: 1vmin 1vmin;
  font-size: 2.5vmin;
  border-radius: 3vmin;
  background-color: rgba(17, 17, 51, 0.65);
  color: white;

  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  transition: background-color 0.15s;
}

.button:hover {
  background-color: rgba(17, 17, 51, 0.9);
  cursor: pointer;
}

.button:active {
  transform: translateY(0.2vmin);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  list-style-position: outside;
}

li {
  margin-bottom: 2vmin;
  line-height: 3.5vmin;
  text-indent: -2.5vmin;
  padding-left: 5vmin;
}

ul li::before {
  color: orange;
  content: "\25CF";
  position: relative;
  font-size: 2vmin;
  left: -1vmin;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  background-color: rgba(0, 0, 233, 0.2); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background-color: rgba(0, 0, 233, 0.2); /* WebKit/Blink Browsers */
}

input {
  border-radius: 0.5vmin;
}

textarea {
  border-radius: 0.5vmin;
  /* firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
}

textarea::-webkit-scrollbar {
  /* chrome scroll bar */
  background: rgba(255, 255, 255, 0);
  height: 1vmin;
}

textarea::-webkit-scrollbar-track {
  /* chrome scroll bar background */
  background: rgba(255, 255, 255, 0);
}

textarea::-webkit-scrollbar-thumb {
  /* scroll bar itself */
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1vmin;
  box-shadow: inset 0 0 0 0.1vmin white;
}
textarea:focus {
  outline: none;
}