@font-face {
  font-family: 'Montserrat';
  src: url('./../../assets/fonts/Montserrat-Light.ttf');
}

html {
  font-size: 2.5vmin;
  font-family: 'Montserrat';
  overflow-y: scroll;

  /* sizes */

  /* this provides a global css variable that scales
  * with viewport height and width average and reduces
  * effect at very small vmin or very large vmax.
  * 0.5 for both is equivalent to 0.5vh + 0.5vw expression.
  * If unreadable text at very small vmin still a problem
  * can adjust ratio to 0.4vmin + 0.6vmax.
  * 0.9 factor there to correct to w/h ratio typically used.
  */
  --s: calc(0.9 * (0.5vmin + 0.5vmax));
  /* some standard sizes for shorthand (could be done in sass mixin) */
  /* ideally only standard sizes below are used */
  --s5: calc(5.0 * var(--s)); /* largest scale */
  --s4: calc(4.0 * var(--s));
  --s3-5: calc(3.5 * var(--s));
  --s3: calc(3.0 * var(--s)); /* font */
  --s2-5: calc(2.5 * var(--s)); /* font */
  --s2: calc(2.0 * var(--s)); /* font */
  --s1-5: calc(1.5 * var(--s));
  --s1: calc(1.0 * var(--s)); /* typical spacing */
  --s0-7: calc(0.7 * var(--s));
  --s0-5: calc(0.5 * var(--s));
  --s0-3: calc(0.3 * var(--s));
  --s0-2: calc(0.2 * var(--s)); /* button offset */
  --s0-1: calc(0.1 * var(--s)); /* smallest scale */

  /* colors */
  --bitcoin-orange: orange; /* var(--bitcoin-orange, orange) */
  --bitcoin-blue: rgb(17, 17, 51); /* var(--bitcoin-blue, rgb(17, 17, 51)) */
  --background: white; /* var(--background, white) */
  --color-disabled: gray; /* var(--color-disabled, gray) */
  --darker2: rgba(0, 0, 0, 0.2); /* var(--darker2, rgba(0, 0, 0, 0.2)) */
  --darker2: rgba(0, 0, 0, 0.1); /* var(--darker1, rgba(0, 0, 0, 0.1)) */
  --brighter2: rgba(255, 255, 255, 0.2); /* var(--brighter2, rgba(255, 255, 255, 0.2)) */
  --brighter1: rgba(255, 255, 255, 0.1); /* var(--brighter1, rgba(255, 255, 255, 0.1)) */
  --transparent: rgba(255, 255, 255, 0); /* var(--transparent, rgba(255, 255, 255, 0)) */
  --text-lighterondark: rgba(255, 225, 225, 0.6); /* var(--text-lighterondark, rgba(255, 225, 225, 0.6)) */
  --text-darkeronlight: rgb(149, 149, 167); /* var(--text-darkeronlight, rgb(149, 149, 167)) */
  --color-selection: rgba(0, 0, 233, 0.2); /* var(--color-selection, rgba(0, 0, 233, 0.2)) */
  --color-error-light: rgba(141, 70, 70, 0.314); /* var(--color-error-light, rgba(141, 70, 70, 0.314)) */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  text-align: center;
  font-size: var(--s2-5);
}

.title {
  font-size: var(--s5);
}

h2 {
  display: block;

  padding: var(--s1) var(--s2);

  font-size: var(--s3);

  background-color: var(--bitcoin-orange, orange);
  color: var(--background, white);

  margin-bottom: var(--s3);
  text-decoration: none;
  font-weight: normal;
}

h1 {
  display: block;

  padding: var(--s1) var(--s1);

  font-size: var(--s3);
  font-weight: 700;

  background-color: none;
  color: var(--bitcoin-blue, rgb(17, 17, 51));

  margin-bottom: var(--s3);
  text-decoration: none;
}

.text_light {
  text-decoration: none;
  color:var(--text-darkeronlight, rgb(149, 149, 167));
  font-size: var(--s2);
}

div {
  cursor: default;
}

.button {
  display: inline-block;

  padding: var(--s1) var(--s2);
  margin: var(--s1) var(--s1);


  font-size: var(--s2-5);
  border-radius: var(--s0-7);
  background-color: rgba(17, 17, 51, 0.65);
  color: var(--background, white);

  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  transition: background-color 0.15s;
}

.button:hover {
  background-color: var(--bitcoin-blue, rgb(17, 17, 51));
  cursor: pointer;
}

.button:active {
  transform: translateY(var(--s0-2));
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  list-style-position: outside;
}

li {
  margin-bottom: var(--s2);
  line-height: var(--s3-5);
  text-indent: var(--s2-5);
  padding-left: var(--s5);
}

ul li::before {
  color: var(--bitcoin-orange, orange);
  content: "\25CF";
  position: relative;
  font-size: var(--s2);
  left: calc(-1 * var(--s));
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  background-color: var(--color-selection, rgba(0, 0, 233, 0.2)); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background-color: var(--color-selection, rgba(0, 0, 233, 0.2)); /* WebKit/Blink Browsers */
}

input {
  border-radius: var(--s0-5);
}

textarea {
  border-radius: var(--s0-5);
  /* firefox */
  scrollbar-color: var(--darker2, rgba(0, 0, 0, 0.2)) var(--transparent, rgba(255, 255, 255, 0));
  scrollbar-width: thin;
}

textarea::-webkit-scrollbar {
  /* chrome scroll bar */
  background: var(--transparent, rgba(255, 255, 255, 0));
  height: var(--s1);
}

textarea::-webkit-scrollbar-track {
  /* chrome scroll bar background */
  background: var(--transparent, rgba(255, 255, 255, 0));
}

textarea::-webkit-scrollbar-thumb {
  /* scroll bar itself */
  background-color: var(--darker2, rgba(0, 0, 0, 0.2));
  border-radius: var(--s1);
  box-shadow: inset 0 0 0 var(--s0-1) var(--background, white);
}
textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}